# Maven build
/target/
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IDEs
# Eclipse / Spring Tool Suite
.classpath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# VS Code
.vscode/

# OS-generated
.DS_Store
Thumbs.db
